body {
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(to bottom, #00ccff 6%, #ccccff 76%);
  }
  
  .header {
    display:flex;
    width: 100%; 
    text-align: center;
    background: linear-gradient(to left, #0000cc 0%, #660066 60%);
    align-items: center;
    justify-content: space-between;
    height: 250px;
  }

  .lines{
    margin:auto;
    margin-left: 300px;
    color: white;
    min-width: 50%;
    text-align: center;
    border: 3px solid white;
    box-shadow: inset 0 0 0 5px linear-gradient(to right, #00ff00 0%, #ffff00 100%);
    border-top: none;
    position: relative;
  }

 .header h2{
    margin: 0;
    margin-top: -10px;
    font-style: italic;
 }
  .header h1 {
    margin: auto;
    font-size: 80px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 93, 92);
    letter-spacing: 3px;
  }
  .header  h1 span {
    color: white;
  }
  
  .bar1{
    width: 40%;
    margin-top: -2px;
    height: 3px;
    display: block;
   
  }  
  
  .bar2{
    width: 40%;
    margin-top: -2px;
    height: 3px;
    display: block;
 }
  .header img {
    /* mix-blend-mode: multiply; */
    width:20%;
  }
  
  nav {
    top: 65px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(243, 137, 218);
    box-shadow: rgba(33, 10, 232, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  
  nav a {
    font-size: 22px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }
  #container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px;
    min-height: 200px;
  }
  #container div{
    display: flex;
    gap:15px;
    margin-bottom: 90px;
  }
  #container div select{
    width: 200px;
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    color: #757575;
  }
  table{
    border: white solid;
    text-align: center;
  }
  table th{
    background-color: #4CAF50; 
    color:white;
  }
  table td{
    padding:10px;
  }
  #data{
    margin: auto;
  }
  .head{
    padding: 20px;
  }
  .material-symbols-outlined.green {
    color: green;
  }
  .material-symbols-outlined.blue {
    color: #0000F5;
    font-size: 18px;
  }
  button{
    display:flex; 
    align-items:center;
    border:none; 
    border-radius:3px; 
    font-weight:600px;
    padding:10px;
    color: #757575;
  }
  .material-symbols-outlined.black {
    color: black;
    font-size: 18px;
  }
  footer, footer> p{
    margin: 0;
    background-color: #660066;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 16px;
  }
  